@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Press+Start+2P&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #ffffff;
    font-family: 'Outfit', sans-serif;
}

h1, h2, h3 {
    font-family: 'Outfit', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
}

/* Header */
header {
    background-color: #000000;
    padding: 0 1rem;
    position: fixed; /* will be making this sticky later */
    z-index: 99;
    width: 100%; 
    box-shadow: 0 2px 2px #ff00ff;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 1em;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    float: right;
}

#menu, #logo {
    line-height: 2.5em;
}

#menu > li {
    margin-bottom: 1em;
}

/* Navbar */
nav {
    position: absolute;
    background-color: #000000;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #ff00ff;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 auto;
}

/*Hero section*/
#hero {
    max-width: 80%;
    margin: 5px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#hero p {
    padding: 15px;
}

#hero-image {
    background-image: linear-gradient(to top, rgba(0,0,0,0.2), #000000), url("../images/hero-image.webp");
    width: 600px;
    height: 324px;
    max-width: 600px;
}

#hero-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(0, 255, 255, .7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#hero-text > h2 {
    color: #000000;
}

#hero-text > h3 {
    color: #000000;
    font-family: 'Outfit', sans-serif;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #000000;
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #3a3a3a;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 250%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
}